/*

# dirs
!.github
!requirements
!scripts
!src
!tests

# files
!.bumpversion.cfg
!.gitignore
!.pre-commit-config.yaml
!CHANGELOG.md
!LICENSE.txt
!MANIFEST.in
!pyproject.toml
!README.md
!setup.py
!tox.ini

# re-ignore recursively
__pycache__
*.egg-info
*.pyc
